body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
}
.container {
  background-color: rgb(55, 52, 52);
  height: 300px;
  width: 240px;

  display: grid;
  grid-template-areas:
    "answer answer answer answer"
    "AC AC DEL division";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 1rem;
}
.answer {
  background-color: red;
  grid-area: answer;
}
.AC {
  background-color: aqua;
  grid-area: AC;
}
.DEL {
  background-color: aqua;
  grid-area: DEL;
}
.divide {
  background-color: aqua;
  grid-area: division;
}
.btn {
  display: flex;
  background-color: rgb(242, 248, 248);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgb(99, 122, 122);
  color: rgb(241, 239, 236);
  cursor: -webkit-grab;
}
.equal {
  grid-column: span 2;
}
.answer,
.answer:hover {
  box-shadow: 0px 0px 10px rgb(208, 199, 199);
  background-color: rgb(32, 29, 29);
  grid-area: answer;
  color: wheat;
  cursor: copy;
}

.btn:nth-child(1) {
  justify-content: end;
  padding: 1rem;
}
